body {
	font-family: verdana;
	font-size: 15px;
	color: #000000;
	padding: 0px;
	background-color: white;
	text-align: center;
	
}

a:link {
	color:
	SZÍN(0E0E0E);
}

p{
	text-align:justify;
	padding: 5px;
	font-style: Verdana;
	margin: 0px;
}

hr {
	display: block;
	margin-top: 8px;
	border-style: inset;
	border-width: 1px;
}

h1, h2 {

	padding: 0px;
	color: #EB6160;
}

h2 {
	font-size:17px;
}

#fejlec {
	padding: 10px;
	background-color: #EB6161;
	font-weight: normal;
	font-size:30px;
	color: white;

}

#fejlec h1 {
	color: white;
	font-size: 30em;
}

table {
	margin: 0 auto 0 auto;
	align-items: center;
}

#tartalom {
	margin: 0 auto;
	padding: 0px;
	text-align: left;
	width: 1000px;
	background-color: white;

}

#oszlop1, #oszlop3 {

	float: left;
	padding: 0px;
	background-color: #ffffff;
	width: 220;
}

#oszlop2{

	float: left;
	padding: 0px;
	background-color: #ffffff;
}

#lablec {
    clear: both;
    background-color: #ffffff;
}

.kep {
	padding: 0px 0px;
	border: 2px;
	
}

.kepalairas{

}

.szurke{
	color: #c7c7c7;
}

a:link, a:active, a:visited, a:hover {
	color: darkgrey;
}

